h1 {
    background: #16191e;
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    background: #16191e;
}

.navbar {
    padding: 20px;
    background: #16191e;
    display: flex;
    justify-content: space-between;
}

.navbar .create {
    background: #16191e;
    color: #e8b00b;
    font-size: 1.5rem;
}

.navbar .navbar-brand {
    background: #16191e;
    color: #e8b00b;
    font-size: 2rem;
}

.navbar-brand:hover, .create:hover {
    background: #16191e;
    color: #e8b00b;
}

.form-container {
    background: #16191e;
    width: 400px;
    margin: 20px auto;
}

.note-container {
    background: #16191e;
    text-align: center;
    margin-top: 20px;
}

.grid {
    background: #16191e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}