.container {
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
}

.footer a {
}

.title a {
}

.title a:hover,
.title a:focus,
.title a:active {
}

.title {
  word-wrap: break-word
}

.title,
.description {
}

.description {
  word-wrap: break-word
}

.code {
  word-wrap: break-word
}

.grid {
  word-wrap: break-word
}

.card {
  word-wrap: break-word
}

.card:hover,
.card:focus,
.card:active {
  word-wrap: break-word
}

.card h2 {
}

.card p {
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
